.text-center{
	text-align: center !important;
}
.weui_tabbar_item.acitvity-tab-bottom .weui_tabbar_label {
    color: #F39800;
}
.home-list-div{
    padding: 5px;
}
.home-list-div .plistleft{
    width: 48%;
}
.home-list-div .plistleft.leftoptions {
    float: left;
}
.home-list-div .plistleft.rightoptions {
    float: right;
}
.home-list-div .plistleft .wxop{
	float: left;
    margin-bottom: 20px;
    width: 100%;
    clear: left;
}
.home-list-div .plistleft .wxopimg{
	text-align: center;
    width: 100%;
    position: relative;
}
.home-list-div .plistleft img{
	width: 100%;
}
.w100{
	width: 100% !important;
}
.pd10{
	padding: 10px;
}
.pdt-2em{
	padding-top: 2em;
}
.tab-bottom {
    height: 55px;
}
.color-red{
	color: red;
}
.color-green{
	color: green;
}
.top-name{
	text-align: center;
	border: 1px solid #ddd;
	padding: 0.5em;
}
.rank-detail-border{
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.rank-detail-img{
	width: 100%;
}
